{% extends "responses_app/base.html" %}
{% load bootstrap4 %}

{% block h1 %}
    Login page
    {% endblock h1 %}

 {% block body %}

{% if form.errors %}
 <p>Your username and password didn't match. Please try again.</p>
 {% endif %}
 <form method="post" action="{% url 'users:login' %}", class="login-form">
{% csrf_token %}
<div class="login-center" > 
<div class="form-group"><label for="id_username">Username: </label>
    <input type="text" name="username"  maxlength="150" class="login-control" placeholder="Username:"></div>
<div class="form-group"><label for="id_password">Password:</label>
    <input type="password" name="password" class="login-control" placeholder="Password:" ></div>
<div class="form-group">
 <button name="submit" class="btn btn-primary">Log in</button>
 </div>
<input type="hidden" name="next" value="/" ,="" class="form__login">
<a href="{% url 'users:register' %}" class="btn btn-success">Register</a>
</div>
</form>
   <input type="hidden" name="next" value="{% url 'index' %}", class="form__login" />

 {% endblock body %}