{% extends "responses_app/base.html" %}
{% load bootstrap4 %}
{% block h1 %}
    Register page
    {% endblock h1 %}


{% block body %}




    <form method="post" action="{% url 'users:register' %}">
      {% csrf_token %}
    
      {% bootstrap_form form layout='inline' %}
      {% buttons %}
 <button name="submit" class="btn btn-primary">register</button>
 {% endbuttons %}
 {% bootstrap_form_errors form %}
      <input type="hidden" name="next" value="{% url 'index' %}" />
      </form>
{% endblock body %}