{% extends 'responses_app/base.html' %}

{% block title %} 
    {{place.text}}   
    
    {% endblock title %}
    
    
{% block h1 %}
    {{place.text}}   
    

    {% endblock h1 %}
    <br>
    
    {% block body %}  
    
    {% for el in coment %}
    <div class="card mb-3">
        <h4 class="card-header">
         {{ el.date_added|date:'M d, Y H:i' }}
         
         
         </h4>
         <div class="card-body">
            {{ el.text|linebreaks }}
            <a> View full info </a>
            </div>
            </div>

        {% endfor %} 

        
    {% endblock body %}
