{% extends 'responses_app/base.html' %}

{% block title %} 
    {{place.text}}   
    {% endblock title %}
{% block h1 %}
    {{place.text}}   
    

    {% endblock h1 %}
    <br>
    
    {% block body %}  
    
    <a href="{% url 'comment_update' place.id %}" class="btn btn-success"> Add comment </a>
    {% for el in comment %}
    <div class="card mb-3">
        <h4 class="card-header">
            {{ el.text|linebreaks }}
            {% if el.file %}
            <img src="{{ el.file.url }}" style="max-height: 200px;"><br>
            {% endif %}
        </h4>
            <div class="card-body">
                {{ el.date_added|date:'M d, Y H:i' }}
            </div>
         
         
    </div>
    
    {% endfor %} 
    
        
    {% endblock body %}
